
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: hsl(30, 38%, 92%);
    font-family: sans-serif;
    font-size: 14px;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    margin: 30px auto;
    padding: 0 30px;
}

.grid{
    max-width: 700px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: #fff;
    border-radius: 15px;
    overflow: hidden;
}


.img img{
    max-width: 100%;
}

.card-content{
    padding: 35px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

h5.pro-cat{
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 13px;
    color: hsl(228,12%,48%);
    font-weight: 500;
    
}

h2.pro-name{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 34px;
    line-height: 1em;
    color: hsl(212, 21%, 14%);
}

p.pro-det{
    color: hsl(228, 12%, 48%);
    line-height: 1.6em;
}

.price{
    display: flex;
    align-items: center;
}

p.perfumepricenow{
    font-size: 25px;
    color: hsl(158, 39%, 35%);
    padding-right: 25px;
}

p.perfumepriceold{
    color: hsl(228, 12%, 48%);
    text-decoration: line-through;
    
}

button.cta{
    background-color: hsl(158, 36%, 37%);
    border: none;
    padding: 12px 0;
    border-radius: 12px;
    color: white;
    font-size: 14px;
    font-weight: 700;
    cursor: pointer}