




body{
    text-align: center;
    background-color: rgb(27, 23, 23);
    text-decoration-line: underline;
    text-decoration-color: rgb(20, 20, 37);
    color:rgb(106, 199, 48);
    font-size: 20px;
    }






button{  

       background-color: rgb(29, 3, 142);
       color: rgb(244, 8, 8);
       

      }