
  @import url('https://fonts.googleapis.com/css2?family=Playfair+Display&family=Roboto&display=swap');


 p{
    color:rgb(39, 59, 9);
    font-size: 20px;
    font-weight: 30;
    font-family:roboto;



    text-decoration-line:underline;
    text-decoration-color:greenyellow ;
    text-decoration-style:dashed ;
    text-transform: uppercase;
   
 }

h1{

   color:rgb(41, 67, 2);
   text-align: center;
}

