

@import url('https://fonts.googleapis.com/css2?family=Jura:wght@300&display=swap');

body{

    background-color: greenyellow;
    
}

header a{
    display: flex;
    left: 200px;
    color: red;
    font-size: 40px;
    text-decoration: none;
}

p{
    font-size: 26px;
    color: rgb(6, 6, 6);
}

